<template>
  <form
    action="save-action"
    method="post"
    enctype="multipart/form-data"
    @submit="onFormSubmit($event)"
  >
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Ваша фотография</div>
        <div class="dx-field-value">
          <div class="fileuploader-container">
            <img
              class="fileuploader-container-avatar"
              :src="encodedAvatar"
            />
            <div class="fileuploader-container-buttons">
              <DxFileUploader
                select-button-text="Загрузить с компьютера"
                label-text=""
                accept="image/*"
                upload-mode="useForm"
                @value-changed="onAvatarSelected"
                @uploaded="onAvatarUploaded"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Как вас зовут</div>
        <div class="dx-field-value">
          <DxTextBox
            placeholder="Имя Фамиля"
            v-model="nameValue"
          >
            <DxValidator>
              <DxRequiredRule message="Введите ваше имя и фамилию"/>
              <DxPatternRule
                :pattern="namePattern"
                message="Используйте имя и фамилию без цифр"
              />
              <DxStringLengthRule
                :min="2"
                message="Имя должно быть длиннее, чем 2 символа"
              />
            </DxValidator>
          </DxTextBox>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Дата рождения</div>
        <div class="dx-field-value">
          <DxDateBox ...
            v-model="birthdayValue"
          >
            <DxValidator>
              <DxRequiredRule message="Выберете дату вашего роздения"/>
            </DxValidator>
          </DxDateBox>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Ваш пол</div>
        <div class="dx-field-value">
          <DxRadioGroup
            :items="genderItems"
            layout="horizontal"
            v-model="genderValue"
          >
            <DxValidator>
              <DxRequiredRule message="Выберете ваш пол"/>
            </DxValidator>
          </DxRadioGroup>
        </div>    
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Семейное положение</div>
        <div class="dx-field-value">
          <DxRadioGroup
            :items="familyStatusItems"
            v-model="familyStatusValue"            
            layout="horizontal"
          >
            <DxValidator>
              <DxRequiredRule
                message="Выберете ваше семейное положение"
              />
            </DxValidator>
          </DxRadioGroup>
        </div>    
      </div>
    </div>
    <div class="dx-fieldset">
      <DxValidationSummary id="summary"/>
      <DxButton
        id="button"
        :use-submit-behavior="true"
        text="Сохранить"
        type="success"
      />
    </div>
  </form>
</template>

<script>
import IDB from '../api/indexedDB';
import { DxFileUploader } from 'devextreme-vue/file-uploader';
import { DxTextBox } from 'devextreme-vue/text-box';
import { DxDateBox } from 'devextreme-vue/date-box';
import { DxRadioGroup } from 'devextreme-vue/radio-group';
import DxButton from 'devextreme-vue/button';
import DxValidationSummary from 'devextreme-vue/validation-summary';
import {
  DxValidator,
  DxRequiredRule,
  DxPatternRule,
  DxStringLengthRule,
} from 'devextreme-vue/validator';

export default {
  components: {
    DxFileUploader,
    DxTextBox,
    DxDateBox,
    DxRadioGroup,
    DxButton,
    DxValidator,
    DxRequiredRule,
    DxPatternRule,
    DxStringLengthRule,
    DxValidationSummary
  },
  data() {
    return {
      avatar: null,

      namePattern: /^[^0-9]+$/,
      nameValue: '',
      
      birthdayValue: null,
      
      genderItems: [ 'Мужчина', 'Женщина'],
      genderValue: null,

      familyStatusItems: ['Женат (Замужем)', 'Холост (Не замужем)'],
      familyStatusValue: null,
    };
  },
  computed: {
    encodedAvatar: function() {
      return this.avatar ? URL.createObjectURL(this.avatar) : '/images/noavatar.jpg';
    }
  },
  mounted() {
    IDB.getUser(1).then(data => {
      let user = data.result;

      this.avatar = user.avatar;
      this.nameValue = user.name;
      this.birthdayValue = user.birthday;
      this.genderValue = user.gender;
      this.familyStatusValue = user.familyStatus;
    });
  },
  methods: {
    onAvatarSelected(e) {
      this.avatar = e.value[0]
    },
    onFormSubmit($event) {
      $event.preventDefault();
      IDB.saveUser({
        id: 1,
        avatar: this.avatar,
        name: this.nameValue,
        gender: this.genderValue,
        birthday: this.birthdayValue,
        familyStatus: this.familyStatusValue
      });
    }
  }
};
</script>

<style lang="scss">
.dx-fieldset {
  width: 1040px;
  #summary {
      padding-left: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .fileuploader-container {
    display: flex;
      
      &-avatar {
      width: 300px;
      height: 200px;
      object-fit: contain;
      background: white;
      border: none;
    }
    &-webcam-button {
      margin-left: 8px;
    }
  }
}
</style>